<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>My Blog</h1></div>
    </div>
    <h1>Rutas que puedes probar</h1>
    <p>/post/"id" (1 al 3)</p>
    <p>/guess/"tu nombre"</p>



</div>
</body>
<footer>
    <p>Copyright {{ year }}. Hecho por Felipe Olea</p>
</footer>
</html>